.card{
  background-color: #12172A;
  border-color: #1E2440;
  width: 420px;
  padding: 32px;
  border: 1px solid;
  box-shadow: 0px 20px 60px rgba(124,58, 237, 0.15);
  backdrop-filter: blur(12px);
  opacity: 85%;
  border-radius: 12px;
  margin-bottom: 50px;


}
body{
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaHxlbnwwfHwwfHx8MA%3D%3D');
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
}



h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 500;

  background: linear-gradient(90deg, #7C3AED, #F97317);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 5px #FDBA74,
    0 0 0px #FDBA74;
}


h2{
  font-size: 14px;
  color:#9CA3AF
}

label{
  color: #abb3c2;

}
input{
  height: 38px;
  border-radius: 10px;
  background-color: #0B0F1A;
  border: 1px solid #1E2440;
  margin: 12px;
   padding : 4px 4px 2px 10px;
  width: 400px;
}
input:focus{
  border: 1px solid #7C3AED;
  

}
input::placeholder{
  color: #6B7280;
  font-size: 14px;
  padding: 10px;

}

select{
  height: 38px;
  border-radius: 10px;
  background-color: #0B0F1A;
  border: 1px solid #1E2440;
  margin: 12px;
  padding: 10px;
  width: 400px;

}
select::placeholder{
  color: #6B7280;
  font-size: 14px;
  padding: 10px;
}
option{
  padding:10px
}

button{
  height: 38px;
  border-radius: 16px;
  background: linear-gradient(to right , #834f2a , #643ca8);

}
